.modal--container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1a1832;
  color: white;
  border-radius: 20px;
  padding: 2rem;
  width: 48vw;
  height: 42vh;
}

.modal--header {
  display: flex;
  justify-content: end;
}

.close--icon {
  width: 17px;
  cursor: pointer;
}


.btn {
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  width: 144px;
  height: 44px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem;
}

.btn--submit {
  background-color: #7a58f4;
  border: none;
}

.btn--cancel {
  background-color: transparent;
  border: #7a58f4 solid 1px;
}

h1 {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
}

.rating--container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.ratings {
  display: flex;
  justify-content: space-between;
}

.rating--text {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
  color: #e7e7e7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.btn--ratings {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  color: #b1b9d8;
  font-size: 1.4rem;
  background-color: #1a2036;
  border: #2e3650 solid 1px;
  border-radius: 10px;
  width: 4vw;
  height: 4vh;
  cursor: pointer;
}

.btn--ratings:hover {
  font-weight: 500;
  border: #b1b9d8 solid 1px;


}

.modal--footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;

}


/* -------Mobile View---------*/

@media all and (max-width: 1000px) {
  .modal {
    width: 58vw;
    height: 60vh;
  }

  .btn--ratings {
    font-size: 0.9rem;
    border-radius: 5px;
    width: 7vw;
    height: 3vh;
  }

  .rating--container {
    gap: 20px;
    padding: 0;
  }

  .rating--text {
    font-size: 0.7rem;
  }

  .btn {
    width: 80px;
    height: 40px;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 0.8rem;
  }
  
}


@media all and (max-height: 800px) {
  .modal {
    width: 70vw;
    height: 70vh;
  }

  .btn--ratings {
    width: 7vw;
    height: 5vh;
  }

  .rating--container {
    gap: 20px;
    padding: 0;
  }

  .rating--text {
    font-size: 0.7rem;
  }

  .btn {
    width: 70px;
    height: 35px;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 0.8rem;
  }
  
}

@media all and (max-height: 400px) {
  
  .btn--ratings {
    width: 8vw;
    height: 8vh;
  }
  
}


@media all and (max-height: 500px) and (min-width: 1200px){
  
  .btn--ratings {
    font-size: 1.1rem;

    width: 5vw;
    height: 10vh;
  }
  
}
